$color: #ca2709;
$color1: #c5c5c5;
$color2: #fc9500;
$color3: #eaeaea;
$color4: #0d9822;

* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

a {
	color: $color2;
	text-decoration: none;
}

.btn {
	height: 40px;
	width: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	user-select: none;
	background: #000;
}

*[data-farmatted-text] {
	> * {
		line-height: 1.35em;
	}

	p {
		margin-bottom: 10px;
	}

	ul,
	ol {
		margin-left: 25px;

		li {
			font-size: 14px;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}

.app-wrapper {
	position: relative;
	width: 350px;
	padding: 55px 10px 10px;
	background: #fff;
	border: 2px solid $color;

	header {
		display: flex;
		align-items: center;

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		padding: 10px;

		background: $color;

		a,
		span {
			color: #fff;
		}

		a {
			font-size: 20px;
		}

		span {
			font-size: 14px;
			margin-left: auto;
		}
	}

	footer {
		margin-top: 25px;

		.copyright {
			font-size: 14px;
		}
	}

	.license-expired {
		display: none;

		.title {
			font-weight: bold;
			font-size: 20px;
		}

		.description {
			margin-top: 7px;
			font-size: 18px;
		}

		.btns {
			margin-top: 20px;
			display: flex;
			column-gap: 15px;

			.btn--payment {
				background: $color4;
				color: #fff;
			}

			.btn--support {
				background: $color2;
				color: #fff;
			}
		}
	}

	.app-content {
		//display: none;

		.dates {
			textarea {
				border: 1px solid $color1;
				padding: 10px;
				width: 100%;
				min-height: 80px;
				overflow: auto;
				resize: vertical;
				border-radius: 4px;
				font-size: 16px;
			}

			.params {
				margin-top: 10px;

				label {
					display: flex;
					align-items: center;
					column-gap: 5px;
					user-select: none;
					font-size: 16px;

					&:not(:last-child) {
						margin-bottom: 5px;
					}
				}
			}

			.btns {
				display: flex;
				align-items: center;
				column-gap: 10px;
				margin-top: 10px;

				> * {
					height: 40px;
					width: 110px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 4px;
					font-size: 14px;
					border: none;
					cursor: pointer;
					user-select: none;
				}

				#start {
					background: $color;
					color: #fff;

					&.disabled {
						pointer-events: none;
						background: $color3;
						color: #777;
					}
				}

				#clear-dates {
					background: $color2;
					color: #fff;
				}
			}
		}

		#btn-check-orders {
			border-radius: 4px;
			background: $color;
			border: none;
			color: #fff;
			padding: 10px 20px;
			font-size: 14px;
			margin-top: 5px;
			cursor: pointer;
		}

		.last-checking {
			margin-top: 10px;
			padding: 10px;
			border-radius: 4px;
			color: #fff;
			display: flex;
			column-gap: 5px;
			background-color: $color4;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIyIDlhMSAxIDAgMCAwIDAgMS40Mmw0LjYgNC42SDMuMDZhMSAxIDAgMSAwIDAgMmgyMy41MkwyMiAyMS41OUExIDEgMCAwIDAgMjIgMjNhMSAxIDAgMCAwIDEuNDEgMGw2LjM2LTYuMzZhLjg4Ljg4IDAgMCAwIDAtMS4yN0wyMy40MiA5QTEgMSAwIDAgMCAyMiA5WiIgZGF0YS1uYW1lPSJMYXllciAyIiBmaWxsPSIjZmZmZmZmIiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48L3N2Zz4=);
			background-position: center right 10px;
			background-size: 22px;
			background-repeat: no-repeat;
			font-size: 13px;

			span {
				font-weight: 500;
			}
		}

		.documentation {
			margin-top: 20px;
			font-size: 14px;

			&-title {
				font-weight: bold;
				margin-bottom: 8px;
				font-size: 18px;
			}

			&-content {
				> * {
					font-size: 14px;
				}

				ul {
				}

				ol {
					margin-top: 15px;

					li {
						font-weight: 500;
					}

					a {
						color: $color4;
						border-bottom: 1px dashed;
					}
				}
			}
		}
	}
}
