$color: #b61f05;
$color1: #c5c5c5;
$color2: #fc9500;
$color3: #eaeaea;
$color4: #0d9822;

$brs: 14px;

* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

a {
	color: $color2;
	text-decoration: none;
}

.btn {
	height: 36px;
	width: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $brs;
	font-size: 14px;
	border: none;
	cursor: pointer;
	user-select: none;
	background: #000;
	color: #fff;

	&[disabled],
	&.disabled {
		opacity: 0.5;
		pointer-events: none;
		box-shadow: none;
	}

	&--red {
		box-shadow: 2px 2px 5px 0px rgba($color, 0.4);
		background: linear-gradient(135deg, rgba(230, 42, 14, 1) 0%, rgba($color, 1) 100%);
		color: #fff;
	}

	&--green {
		box-shadow: 2px 2px 5px 0px rgba($color4, 0.5);
		background: linear-gradient(135deg, rgba(44, 199, 67, 1) 0%, rgba($color4, 1) 100%);
		color: #fff;
	}
}

input {
	border-radius: $brs;
	border: 1px solid $color1;
	padding: 10px;
	width: 100%;
	font-size: 16px;
	height: 40px;
}

.hidden {
	display: none !important;
}

*[data-farmatted-text] {
	> * {
		line-height: 1.35em;
	}

	ul,
	ol {
		margin-left: 18px;

		li {
			font-size: 14px;

			&:not(:last-child) {
				margin-bottom: 7px;
			}
		}
	}
}

.popup {
	position: relative;
	width: 350px;
	padding: 55px 10px 10px;
	background: transparent;
	border: 2px solid $color;

	header {
		display: flex;
		align-items: center;

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		padding: 10px;

		background: $color;

		a,
		span {
			color: #fff;
		}

		a {
			display: flex;
			column-gap: 7px;

			.header-name {
				font-size: 18px;
				font-weight: 500;
			}

			.header-version {
				font-size: 13px;
				display: flex;
				column-gap: 4px;
			}
		}

		span {
			font-size: 14px;
			margin-left: auto;
		}

		.btn-logout {
			padding: 6px 10px;
			border-radius: 10px;
			background: #000;
			margin-left: auto;
			color: #fff;
			cursor: pointer;
			user-select: none;
			background: #830303;
		}
	}

	.helper {
		padding: 10px;
		background: $color3;
		border-radius: $brs;
		font-size: 14px;
		font-weight: 500;
	}
}

.auth-login {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.subscription {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $color3;

	&-status {
		font-size: 15px;
		font-weight: 500;
	}

	&-pay {
		//background: $color4;
	}
}

.popup-wrapper {
	position: relative;
	width: 350px;
	padding: 55px 10px 10px;
	background: #fff;
	border: 2px solid $color;

	header {
		display: flex;
		align-items: center;

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		padding: 10px;

		background: $color;

		a,
		span {
			color: #fff;
		}

		a {
			font-size: 20px;
		}

		span {
			font-size: 14px;
			margin-left: auto;
		}

		.btn-logout {
			padding: 6px 10px;
			border-radius: 10px;
			background: #000;
			margin-left: 15px;
			color: #fff;
			cursor: pointer;
			user-select: none;
			background: #830303;
		}
	}

	footer {
		margin-top: 25px;

		.copyright {
			font-size: 14px;
		}
	}

	.auth {
		&-login,
		&-confirmation-code {
			display: flex;
			flex-direction: column;
			gap: 7px;

			.helper {
				padding: 10px;
				background: #eaeaea;
				border-radius: $brs;
				font-size: 14px;
				font-weight: 500;
				margin-bottom: 5px;
			}

			.btns {
				display: flex;
				column-gap: 5px;
			}
		}

		&-confirmation-code {
			.specified-email {
				font-size: 14px;
				font-weight: 500;
			}

			.btn-cancel-confirmation-code {
				background: $color2;
			}
		}

		button {
			background: $color4;
			color: #fff;
		}

		&-error {
			font-weight: bold;
			font-size: 14px;
			color: $color;
			margin-top: 10px;
			&:empty {
				display: none;
			}
		}
	}

	.app {
		.dates {
			textarea {
				border: 1px solid $color1;
				padding: 10px;
				width: 100%;
				min-height: 80px;
				overflow: auto;
				resize: vertical;
				border-radius: $brs;
				font-size: 16px;
			}

			.params {
				margin-top: 10px;

				label {
					display: flex;
					align-items: center;
					column-gap: 5px;
					user-select: none;
					font-size: 16px;

					&:not(:last-child) {
						margin-bottom: 5px;
					}
				}
			}

			.btns {
				display: flex;
				align-items: center;
				column-gap: 5px;
				margin-top: 10px;

				#search {
					background: $color;
					color: #fff;
				}

				#clear-dates {
					background: $color2;
					color: #fff;
				}

				#link-cabinet {
					background: $color4;
					color: #fff;
				}
			}

			#last-search {
				margin-top: 15px;

				&:empty {
					display: none;
				}
			}
		}

		#btn-check-orders {
			border-radius: 4px;
			background: $color;
			border: none;
			color: #fff;
			padding: 10px 20px;
			font-size: 14px;
			margin-top: 5px;
			cursor: pointer;
		}

		.documentation {
			margin-top: 15px;
			background: #f3f3f3;
			padding: 10px;
			border-radius: $brs;
			overflow: hidden;

			&.active {
				ol {
					display: block;
				}

				.documentation_btn-more {
					&:before {
						content: "Свернуть";
					}
				}
			}

			&_content {
				.formatted-dates {
					list-style-type: none;
					margin-left: 0;

					li {
						&:not(:last-child) {
							margin-bottom: 5px;
						}

						span {
							padding: 7px 12px;
							background: #fbd49d;
							border-radius: 10px;

							display: inline-block;
							font-weight: 500;
							font-size: 16px;
						}
					}
				}

				ol {
					margin-top: 15px;
					display: none;

					li {
						a {
							color: $color;
						}
					}
				}
			}

			&_btn-more {
				margin-top: 20px;
				cursor: pointer;
				user-select: none;
				text-align: center;

				padding: 8px 0;
				margin-top: 10px;
				border-radius: 10px;
				transition: background 0.2s;
				background: #dedede;

				&:before {
					content: "Подробнее";
					font-size: 14px;
					font-weight: 500;
					display: inline;
				}

				&:hover {
					background: #d6d6d6;
				}
			}
		}
	}
}
