$color: #c52828;
$color1: #0384b8;
$color2: #0c8c06;

* {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
}

.orders-info {
	display: flex;
	column-gap: 20px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto 20px;
	padding: 15px;
	background: #ebebeb;
	border-radius: 10px;

	> div {
		display: flex;
		align-items: center;
		font-size: 16px;

		&:before {
			margin-right: 5px;
		}
	}

	.total-price {
		color: $color;

		&:before {
			content: "Итого:";
		}
	}

	.total-count-orders {
		&:before {
			content: "Количество заказов:";
		}
	}

	.total-count-products {
		&:before {
			content: "Количество товаров:";
		}
	}

	.total-discount {
		&:before {
			content: "Скидка:";
		}
	}

	.total-delivery {
		&:before {
			content: "Доставка:";
		}
	}

	.update-track-number-all-orders {
		margin-left: auto;
		user-select: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: normal;
		background: $color1;
		color: #fff;
		padding: 10px;
		border-radius: 10px;
	}
}

.list-orders-wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	//border: 1px solid red;

	.order {
		//border: 1px solid red;
		padding: 15px;
		width: 100%;
		border-radius: 10px;

		&:nth-child(2n) {
			background: #fef7f3;
		}

		&:nth-child(2n + 1) {
			border: 1px solid #fef7f3;
		}

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&-header {
			margin-bottom: 10px;
			display: flex;
			align-items: center;

			&_date {
				font-size: 13px;
				padding: 5px;
				border-radius: 10px;
				background: #d7f7fc;
				text-align: center;
			}

			&_order-link {
				margin-left: auto;
				color: $color;
				font-weight: bold;
				text-decoration: none;
			}
		}

		&-body {
			display: flex;
			column-gap: 20px;

			.products-list {
				width: 100%;

				&:empty {
					display: none;
				}

				.product {
					//border: 1px solid red;
					display: flex;
					column-gap: 30px;

					&:not(:last-child) {
						padding-bottom: 5px;
						border-bottom: 1px solid #fceadf;
					}

					&:not(:last-child) {
						margin-bottom: 10px;
					}

					&-description-wrapper {
						display: flex;
						column-gap: 20px;
						width: 100%;

						.product-photo {
							border-radius: 10px;
							overflow: hidden;
							flex: none;
							height: 70px;
							width: 70px;
							img {
								display: block;
							}
						}

						.product-name {
							line-height: 1.35em;
							font-size: 15px;
							text-decoration: none;

							.product-sku {
								margin-top: 5px;
								font-weight: bold;
								color: $color1;
							}
						}
					}

					&-prices-wrapper {
						flex: none;
						width: 130px;

						//border: 1px solid red;

						> div {
							font-weight: bold;

							&:before {
								font-weight: normal;
							}

							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}

						input {
							border: none;
							background: none;
							padding: 0;
							font-weight: bold;
							outline: none;
							cursor: pointer;
							color: $color2;
							width: auto;
						}

						.product-count {
							&:before {
								content: "Количество: ";
							}
						}

						.product-price {
							&:before {
								content: "Цена 1 шт: ";
							}
						}

						.product-total-price {
							&:before {
								content: "Всего: ";
							}
						}
					}
				}
			}

			.order-info {
				display: flex;
				flex-direction: column;
				row-gap: 10px;
				flex: none;
				width: 250px;
				//border: 1px solid red;
				height: 100%;
				position: sticky;
				top: 10px;
				background: #fceadf;
				padding: 10px;
				border-radius: 10px;

				> div {
					font-weight: bold;

					&:before {
						font-weight: normal;
					}
				}

				input {
					border: none;
					background: none;
					padding: 0;
					font-weight: bold;
					outline: none;
					cursor: pointer;
				}

				.number-order {
					color: $color;
					font-size: 18px;
				}

				.tracking-wrapper {
					padding: 10px;
					background: #fff;
					border-radius: 10px;

					label {
						font-size: 14px;
						font-weight: normal;
						display: block;
						margin-bottom: 5px;
					}

					input {
						background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1jb3B5IiBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IGhlaWdodD0iMTMiIHJ4PSIyIiByeT0iMiIgd2lkdGg9IjEzIiB4PSI5IiB5PSI5Ii8+PHBhdGggZD0iTTUgMTVINGEyIDIgMCAwIDEtMi0yVjRhMiAyIDAgMCAxIDItMmg5YTIgMiAwIDAgMSAyIDJ2MSIvPjwvc3ZnPg==);
						background-repeat: no-repeat;
						background-position: center right 5px;
						background-size: auto 90%;
						width: 100%;
					}

					.original {
						color: $color1;
					}

					.combined {
						color: $color2;
					}
				}

				.count-products {
					&:before {
						content: "Количество: ";
					}
				}

				.price-order {
					&:before {
						content: "Сумма заказа: ";
					}
				}

				.discount-order {
					&:before {
						content: "Скидка: ";
					}
				}

				.delivery-order {
					&:before {
						content: "Доставка: ";
					}
				}

				.total-price-order {
					margin-bottom: 10px;

					&:before {
						content: "Итого: ";
					}
				}

				.btn {
					border-radius: 4px;
					height: 36px;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #000;
					color: #fff;
					user-select: none;
					cursor: pointer;
				}

				.btn-update-track-number {
					background: $color1;
				}
			}
		}
	}
}
