* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fc9500;
  text-decoration: none;
}

.btn {
  height: 40px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  user-select: none;
  background: #000;
}

*[data-farmatted-text] > * {
  line-height: 1.35em;
}
*[data-farmatted-text] p {
  margin-bottom: 10px;
}
*[data-farmatted-text] ul,
*[data-farmatted-text] ol {
  margin-left: 25px;
}
*[data-farmatted-text] ul li,
*[data-farmatted-text] ol li {
  font-size: 14px;
}
*[data-farmatted-text] ul li:not(:last-child),
*[data-farmatted-text] ol li:not(:last-child) {
  margin-bottom: 5px;
}

.app-wrapper {
  position: relative;
  width: 350px;
  padding: 55px 10px 10px;
  background: #fff;
  border: 2px solid #ca2709;
}
.app-wrapper header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #ca2709;
}
.app-wrapper header a,
.app-wrapper header span {
  color: #fff;
}
.app-wrapper header a {
  font-size: 20px;
}
.app-wrapper header span {
  font-size: 14px;
  margin-left: auto;
}
.app-wrapper footer {
  margin-top: 25px;
}
.app-wrapper footer .copyright {
  font-size: 14px;
}
.app-wrapper .license-expired {
  display: none;
}
.app-wrapper .license-expired .title {
  font-weight: bold;
  font-size: 20px;
}
.app-wrapper .license-expired .description {
  margin-top: 7px;
  font-size: 18px;
}
.app-wrapper .license-expired .btns {
  margin-top: 20px;
  display: flex;
  column-gap: 15px;
}
.app-wrapper .license-expired .btns .btn--payment {
  background: #0d9822;
  color: #fff;
}
.app-wrapper .license-expired .btns .btn--support {
  background: #fc9500;
  color: #fff;
}
.app-wrapper .app-content .dates textarea {
  border: 1px solid #c5c5c5;
  padding: 10px;
  width: 100%;
  min-height: 45px;
  overflow: auto;
  resize: vertical;
  border-radius: 4px;
  font-size: 16px;
}
.app-wrapper .app-content .dates .params {
  margin-top: 10px;
}
.app-wrapper .app-content .dates .params label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  user-select: none;
  font-size: 16px;
}
.app-wrapper .app-content .dates .params label:not(:last-child) {
  margin-bottom: 5px;
}
.app-wrapper .app-content .dates .btns {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
}
.app-wrapper .app-content .dates .btns > * {
  height: 40px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  user-select: none;
}
.app-wrapper .app-content .dates .btns #start {
  background: #ca2709;
  color: #fff;
}
.app-wrapper .app-content .dates .btns #start.disabled {
  pointer-events: none;
  background: #eaeaea;
  color: #777;
}
.app-wrapper .app-content .dates .btns #clear-dates {
  background: #fc9500;
  color: #fff;
}
.app-wrapper .app-content #btn-check-orders {
  border-radius: 4px;
  background: #ca2709;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}
.app-wrapper .app-content .last-checking {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  column-gap: 5px;
  background-color: #0d9822;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIyIDlhMSAxIDAgMCAwIDAgMS40Mmw0LjYgNC42SDMuMDZhMSAxIDAgMSAwIDAgMmgyMy41MkwyMiAyMS41OUExIDEgMCAwIDAgMjIgMjNhMSAxIDAgMCAwIDEuNDEgMGw2LjM2LTYuMzZhLjg4Ljg4IDAgMCAwIDAtMS4yN0wyMy40MiA5QTEgMSAwIDAgMCAyMiA5WiIgZGF0YS1uYW1lPSJMYXllciAyIiBmaWxsPSIjZmZmZmZmIiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48L3N2Zz4=);
  background-position: center right 10px;
  background-size: 22px;
  background-repeat: no-repeat;
  font-size: 13px;
}
.app-wrapper .app-content .last-checking span {
  font-weight: 500;
}
.app-wrapper .app-content .documentation {
  margin-top: 20px;
  font-size: 14px;
}
.app-wrapper .app-content .documentation-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}
.app-wrapper .app-content .documentation-content > * {
  font-size: 14px;
}
.app-wrapper .app-content .documentation-content ol {
  margin-top: 15px;
}
.app-wrapper .app-content .documentation-content ol li {
  font-weight: 500;
}
.app-wrapper .app-content .documentation-content ol a {
  color: #0d9822;
  border-bottom: 1px dashed;
}