@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fc9500;
  text-decoration: none;
}

.btn {
  height: 40px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  user-select: none;
  background: #000;
}
.btn[disabled], .btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

input {
  border-radius: 14px;
  border: 1px solid #c5c5c5;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 40px;
}

.hidden {
  display: none;
}

*[data-farmatted-text] > * {
  line-height: 1.35em;
}
*[data-farmatted-text] ul,
*[data-farmatted-text] ol {
  margin-left: 18px;
}
*[data-farmatted-text] ul li,
*[data-farmatted-text] ol li {
  font-size: 14px;
}
*[data-farmatted-text] ul li:not(:last-child),
*[data-farmatted-text] ol li:not(:last-child) {
  margin-bottom: 7px;
}

.popup-wrapper {
  position: relative;
  width: 350px;
  padding: 55px 10px 10px;
  background: #fff;
  border: 2px solid #ca2709;
}
.popup-wrapper header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #ca2709;
}
.popup-wrapper header a,
.popup-wrapper header span {
  color: #fff;
}
.popup-wrapper header a {
  font-size: 20px;
}
.popup-wrapper header span {
  font-size: 14px;
  margin-left: auto;
}
.popup-wrapper header .btn-logout {
  padding: 6px 10px;
  border-radius: 10px;
  background: #000;
  margin-left: 15px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  background: #830303;
}
.popup-wrapper footer {
  margin-top: 25px;
}
.popup-wrapper footer .copyright {
  font-size: 14px;
}
.popup-wrapper .auth form {
  display: flex;
  column-gap: 5px;
}
.popup-wrapper .auth button {
  background: #0d9822;
  color: #fff;
}
.popup-wrapper .auth-error {
  font-weight: bold;
  font-size: 14px;
  color: #ca2709;
  margin-top: 10px;
}
.popup-wrapper .auth-error:empty {
  display: none;
}
.popup-wrapper .auth .btn-payment {
  margin-top: 10px;
  background: #fc9500;
  color: #fff;
}
.popup-wrapper .auth-help {
  padding: 10px;
  margin-top: 10px;
  background: #dadada;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
}
.popup-wrapper .app .dates textarea {
  border: 1px solid #c5c5c5;
  padding: 10px;
  width: 100%;
  min-height: 80px;
  overflow: auto;
  resize: vertical;
  border-radius: 14px;
  font-size: 16px;
}
.popup-wrapper .app .dates .params {
  margin-top: 10px;
}
.popup-wrapper .app .dates .params label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  user-select: none;
  font-size: 16px;
}
.popup-wrapper .app .dates .params label:not(:last-child) {
  margin-bottom: 5px;
}
.popup-wrapper .app .dates .btns {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-top: 10px;
}
.popup-wrapper .app .dates .btns #search {
  background: #ca2709;
  color: #fff;
}
.popup-wrapper .app .dates .btns #clear-dates {
  background: #fc9500;
  color: #fff;
}
.popup-wrapper .app .dates .btns #last-search {
  background: #0d9822;
  color: #fff;
}
.popup-wrapper .app #btn-check-orders {
  border-radius: 4px;
  background: #ca2709;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}
.popup-wrapper .app .documentation {
  margin-top: 15px;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 14px;
  overflow: hidden;
}
.popup-wrapper .app .documentation.active ol {
  display: block;
}
.popup-wrapper .app .documentation.active .documentation_btn-more:before {
  content: "Свернуть";
}
.popup-wrapper .app .documentation_content .formatted-dates {
  list-style-type: none;
  margin-left: 0;
}
.popup-wrapper .app .documentation_content .formatted-dates li:not(:last-child) {
  margin-bottom: 5px;
}
.popup-wrapper .app .documentation_content .formatted-dates li span {
  padding: 7px 12px;
  background: #fbd49d;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
}
.popup-wrapper .app .documentation_content ol {
  margin-top: 15px;
  display: none;
}
.popup-wrapper .app .documentation_content ol li a {
  color: #ca2709;
}
.popup-wrapper .app .documentation_btn-more {
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding: 8px 0;
  margin-top: 10px;
  border-radius: 10px;
  transition: background 0.2s;
  background: #dedede;
}
.popup-wrapper .app .documentation_btn-more:before {
  content: "Подробнее";
  font-size: 14px;
  font-weight: 500;
  display: inline;
}
.popup-wrapper .app .documentation_btn-more:hover {
  background: #d6d6d6;
}